<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PdfToWord</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Pdf To Word Converter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        </div>
      </nav>

    <div class="container">
        <h1 class="mb-5">PDF to WORD Converter</h1>

        <h3 class="mb-5"> Choose .pdf file and submit to convert .pdf file to word file </h3>

        <form class="my-5" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf">
            <button>Submit</button>
        </form>


        <div class="container my-5">
            <h3>By : Tallati Nikhil Bhushan</h3>
            <h4>Contact : </h4>
            <ul>
                <li>Email : tallatinikhilbhushan@gmail.com</li>
                <li>Phno : +916304269138</li>
            </ul>
        </div>
    </div>


</body>
</html>